html{
  
  /*background-image: url(sky.jpg);*/
  
  overflow-x:hidden ;
  background-color: rgb(228,247,246);
  
}
.defaultspacer{
  height: 10vh;
}
.App {
  
  width:100vw;
  text-align: center;
 overflow-x: hidden;
}
.create{
 width: 200vw;
 height: 100vh;
 display: flex;
 
}
.dashboard{
  margin: 5vw;
  width:45%;
  transition:1s ease;
}
.newdash{
  width:50%;
  transform: translateX(-110%);
  transition:.5s ease;
  
}
.messagePanel{
  width:100vw;
  transition:.5s ease;
  
 
}
.newpanel{
  width:100vw;
  transform: translateX(-100%);
  transition:.5s ease;
 
  
}
/*

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/
:root {
  --color4u: rgb(22, 22, 22);
  --color4them:rgb(22, 22, 22);
  --sizew: 100vw;
  --sizeh:150vh; 
  --facecolor:rgba(255, 255, 255, 0.918);
}

h1{
  font-family: 'Alata', sans-serif;
  font-size: 2vh;
}
p{
  font-family: 'Alata', sans-serif;
  font-size: 2vh;
}
.tt{
  
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border: .25vw solid rgb(253, 253, 253);
  width: 50vw;
  height: 5vh;
}
.tb{
  font-family: 'Poppins', sans-serif;
  height: 5vh;
  font-size: 2vh;
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  border:.25vw solid rgb(255, 255, 255);
}
.issignedup{
  display: none;
}
.issigneduptrue{
  display: visible;
}
.Friends{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.potentialGroup{
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
}
.nameTag{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  min-width: 6vw;
  height:3vh ;
  font-family:  'Alata', sans-serif;
  font-size: 2vh;
  border-radius: 5px;
  background-color: rgba(181, 248, 252, 0.438);
  border: white solid
}
.searchResults{
  min-height: 10vh;
  width: 50vw;
  z-index: 2;
  background-color: rgba(241, 241, 241, 0.308);
}
.non{
  display: none;
}
.singleResult{
  width: 100%;
  min-height:5vh ;
  z-index: 2;
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(254, 254, 255, 0.308);
  font-family:  'Alata', sans-serif;
  font-size: 2vh;
  color:var(--color4u);
}
.typer{
  padding: 0%;
  
}
.Textshow{
  background-color: rgba(255, 255, 255, 0);
}
.textpapa{
  margin:0%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height:65vh;
  overflow-y: visible;
  overflow-x: hidden;
  position:relative;
}

.textbox {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  margin-top: 3vh;
  max-width:50%;
  min-height:10vh;
  overflow-wrap: break-word;
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.textboxu {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  margin-left: 49%;
  margin-top: 3vh;
  max-width:50%;
  min-height:10vh;
  border: 1px solid #fff;
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  background-color: #E5F6DF;
  border-radius: 20px;
}

.textbox .fromwho{
  font-family: 'Alata', sans-serif;
  font-size: 2vh;
  color:var(--color4u);
}

.textbox .themessage{
  font-family: 'Alata', sans-serif;
  font-size: 3vh;
  color:var(--color4u);
  
}
.textboxu .fromwho{
  font-family: 'Alata', sans-serif;
  font-size: 2vh;
  color:black;
}

.textboxu .themessage{
  font-family: 'Alata', sans-serif;
  font-size: 3vh;
  color:black;
  
}
.themessage{
  
  font-family: 'Alata', sans-serif;
  font-size: 3vh;
  color:var(--color4them);
  
}
.Roomslist{
  height: 60vh;
}
.roomflow{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}

.roomButton{
  margin: .5vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 10vh;
  transition-duration: .45s;
  backdrop-filter: blur(20px) saturate(200%) contrast(45%) brightness(130%);  
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 30px;
  border-color: white;
  flex-grow: 3;
}
.roomButton:hover{
background-color: rgba(21, 4, 131, 0.589);
}
.roomButton:focus{
  background-color: rgba(21, 4, 131, 0.589);
}
.wrapper{
  width: 100%;
  display: flex;
}
.horizButton{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.verticButton{
 flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.trashRoom{
  
  color:red;
 


}

/* Cube time */
@keyframes turn {
  from { transform: rotate3d(0, 0, 0, 0); }
  to { transform: rotate3d(0, 1, 0, -90deg); }
}
.scene {
  display: block;
  min-width: var(--sizew);
  min-height: var(--sizeh);
  overflow-y: auto;
  perspective: 20000px;
  display: flex;
  flex-direction: column;
}
.cube {
  position: relative;
  min-width: inherit;
  min-height: inherit;
  transform-style: preserve-3d;
  transition-duration: 2s;
  display: flex;
  flex-direction: column;
}
.cube-turn{
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: inherit;
  min-height: inherit;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0,-90deg);
  transition-duration: 2s;
  
}
.cube-face {
 display: flex;
 flex-direction: column;
  position: fixed;
  background-image: url(sky.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  
}
.cube-face-front {
 
  transform: translate3d(0, 0, 50vw);
} 
.cube-face-back {
  
  transform: rotateY(180deg) translate3d(0, 0, 50vw);
} 
.cube-face-left {
  
  transform: rotateY(-90deg) translate3d(0, 0, 50vw);
} 
.cube-face-right {
 
  transform: rotateY(90deg) translate3d(0, 0, 50vw);
} 
.cube-face-top {
 
  transform: rotateY(180deg)rotateX(90deg) translate3d(0, 0, 75vh);
} 
.cube-face-bottom {
  
  transform: rotateX(-90deg) translate3d(0, 0, 75vh);
}
